.container{
    display: flex;
    flex-direction: column;
    flex:1;
}

.nextRaceContainer{
    flex:3;
    
}
.nextRaceContainer h1 {
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    margin-left:20px;
    margin-right:20px;
    padding-bottom: 21px;
}

.upcomingRacesContainer{
    flex:1;
}

.mainContentContainer{
    flex:1;
    display: flex;
    flex-direction: row;
    
}


@media screen and (max-width: 768px) {
    
    .mainContentContainer {
      flex-direction: column;
    }
    
  }