.buttons {
    background-color: #00121c;
    color:white;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    width: 300px
}

.button-container {
    background-color: ;
    
   
    
}