.App {
 
  text-align: center;
 
  background-color: #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /* .leaflet-container{
 flex:1;
 width: 100px;
 height: 100px;
  max-width: 1000px;
  max-height: 1000px;
}  */



.intrestSegment {
  background-color: blue;
  border-width: 3;
  border-color: rgb(194, 207, 219);
 
}
.intrestSegmentContainer
{
  background-color: #61dafb;
   /* We first create a flex layout context */
   display: flex;

   /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
   flex-flow: row wrap;
 
   /* Then we define how is distributed the remaining space */
   justify-content: space-around;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
 
  height: '100%';
  width: '100%';
  height: 360px;
  width: 360px;
 
  
}

#mainMap
{
 
  position: relative;
 
  background-color: rebeccapurple;
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  
  height: '100%';
  width: '100%';
  max-width: 1600px;
  width: 160px;
  max-height: 800px;
  height: 800px;

}

.body
{
  background-color: azure;
  margin: 20px;
}


