.modalBackground {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerFail {
    margin-top: 160px;
    width: 500px;
    height: 165px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: 11px;
    color: #00121c;
}

.modalContainerFail .title {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  flex: 1;
}

.titleCloseBtn {
    display: flex;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.modalTitleClose{
    display: flex;
    border-bottom: 1px solid black;
   
}

.body{
    margin-top: 0px;
}




