.input-container{
    flex:1;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    display: flex;
    
}
.input-item label {
  background-color: red;
  display: table-cell;

}

.input-item input {
    background-color: blue;
    display: table-cell;
    
}

.input-item {
    background-color: pink;
    margin: 20px;
   
    display: table-row;
}




.input-form{
 
    background-color: red;
    justify-content: center;

}