.input-container{
    flex:1;
    flex-direction: column;
   
    justify-content: center;
    display: flex;
    
}
.input-item label {

  display: table-cell;
  text-align: left;
  font-size: 16px;
  padding-right: 40px;


}

.input-item input {
 
    display: table-cell;
    margin-bottom: 20px;

    
}

.input-item {
   
 
    display: table-row;
}




.input-form{
 

    justify-content: center;
    align-self: center;

}