.tooltipStars{
    background-color:  #00121c;
    padding: 0px;
    margin: 0px;
}

.tootltipTitle {
    margin: 0px;
    padding: 0px;
    margin: 0px 10px 0px 10px
   
}

.tooltipWind {
    padding:10px;
    margin: 0px;
    
}