.navigation {
  display: flex;
  
    width: 100%;
    
    flex-direction: column;
    
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); 
   

  }

  .top-navbar{
    display: flex;
    padding: 0.5rem 0rem;
    background-color: #00121c;
    color: black;
   
    
   
  }

  .logo {
    display: flex;
  }

  .pop-up{
    background-color: aqua;
    display: none;
  }
 
  .links {

    flex:1;
    display: flex;
    align-items: center;
    justify-content: right;
  
  }
  .logo-image
  {
    flex: 1;
    height: 100px;
    
  }

  .links-text{
    font-size: 18px;
    color: white;
    font-weight: 600;
  }
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
 
    
  }

  .navigation-menu {
    margin-left: auto;
  }

  .navigation-menu ul {
    display: flex;
    
   
  }
  .navigation-menu li {
    /*list style type removes the bullet points*/
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu li a {
   
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .hamburger-container{
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 10px;
  }

.hamburger {

    
    border: 0;
    height: 40px;
    width: 40px;
    display: none;
   
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
   
    }
  .hamburger:hover {
    background-color: #2642af;
  }


  @media screen and (max-width: 768px) {
    .hamburger {
      display:flex;
    }
  }

  @media screen and (max-width: 768px) {
    .navigation-menu ul {
      display: none;
    }
  }

  .pop-up-links{
   background-color: white;
   width: 100%; 

   
   
  }

  .pop-up-links ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .pop-up-links li:hover {
    background-color: #eee;
    
  }
  .pop-up-links li {

    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
  }
  .popup-links-text
  {
    color: black;
    text-decoration: none;

  }

  @media screen and (max-width: 768px) {
    .pop-up{
      display: flex;
    }
    .navigation-menu ul {
      display: none;
    }
    
  }