.intrestSegment {
    border: 2px solid #00121c;
    border-radius: 8px;
    color: white;
    background-color: #00121c;
    margin: 20px;
    padding: 4px;
   
  }
  

  .intrestSegment-header-windir
  {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    margin-bottom: 4px;
  }
  .intrestSegmentContainer
  {
  
     /* We first create a flex layout context */
     display: flex;
  
     /* Then we define the flow direction 
        and if we allow the items to wrap 
      * Remember this is the same as:
      * flex-direction: row;
      * flex-wrap: wrap;
      */
     flex-flow: row wrap;
   
     /* Then we define how is distributed the remaining space */
     justify-content: space-around;
    
  }

  #map {
    position: relative;
    
    border-radius: 8px;
   
    display: flex;
    flex:1;
    height: 240px;
    overflow: hidden;
   
    
  }
  .intrestSegment-header
  {
    flex: 1;
    
  }

  .intrestSegment-header-windspeed{
    font-size: 12px;
    margin-top: 0px;
  }

  .stars{
    color: yellow;
    padding: 0 5px 0 5px;
   
  }

  .intrestSegment-lengthstar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

  }

  .intrestSegmentMap{
    width:100%;
    height: 100%;
  }

  .intrestSegmentMapLegend{
 
  
    position: relative;
    z-index: 1000;
    width: 50px;
    left: 170px
  }


  .intrestSegmentMapLegend img{
    border-radius: 100px;
  }
  .intrestSegmentMapLegend p{
    color: black;
    margin: 0;
  }

  .intrestSegmentMapLegend p {
    font-size: 10px;
  }

  .intrestSegmentMapLegend{
    background-color: white;
    border-radius: 10px;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
    padding: 5px;
    opacity: 0.9;
    font-weight: 600;
  }

  .intrestSegmentMap .startIcon {
    color:green;
    font-size: 12px;
  }

  .intrestSegmentMap .finishIcon {
    color:red;
    font-size: 12px;
  }