.segmentIntrestHeader{
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;


}

.segmentIntrestHeader h2 {
    padding-left: 20px;
    font-size: 24px;
}

.segmentIntrestSort{
    display: flex;
    align-items: center;
    flex:1;
    justify-content: right;
}

.segmentIntrestSelect{
   margin-left: 10px;
   border-radius: 10%;
   border: 2px solid;
}